/* GLOBAL */

body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    margin: 0 auto; /*?*/
    padding: 0 50px;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    background: rgb(189, 63, 57);
    color: #ffffff;
}

/* top nav */
.top_nav {
    width: 100%;
    min-height: 20px;
    padding-top: 20px;
}

.top_nav li {
    float: left;
    display: inline;
    padding-left: 20px;
}

.top_nav ul {
    float: right;
}

.top_nav a {
    color: black;
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: bold;
}

/* main nav */
.header_main a {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.main_nav li {
    float: left;
    display: inline;
    padding-left: 50px;
}

.main_nav ul {
    float: right;
}

header .highlight, header .current a {
    color: darkblue;
    font-weight: bold;
}

.main_nav a:hover {
    color: black;
    font-weight: bold;
}

/* dropdown */

.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* title */

.header_title {
    width: 40%;
    float: left;
}

.header_title h1 {
    margin: 0;
    letter-spacing: 5px;
    font-size: 50px;
}

.main_nav {
    width: 60%;
    float: right;
    margin-top: 10px;
}

/* TOP CONTENT */
.top_content {
    min-height: 400px;
    background-color: aliceblue;
    width: 100%;
}

.content_left {
    width: 70%;
    float: left;
}

.content_right {
    width: 25%;
    padding: 10px 60px 20px 10px;
    margin: 10px 0 20px 0;
    float: left;
    border: 1px solid;
}

.article_top {
    background-color: beige;
    width: 94%;
    padding: 10px 30px 0 10px;
    margin: 10px 10px 10px 0;
    border: 1px solid;
    text-align: justify;
    min-height: 280px;
}

.article_top h2 {
    margin: 0;
}

.article_bottom_left, .article_bottom_right {
    float: left;
    min-height: 80px;
    height: 190px;
    background-color: beige;
}

.article_bottom_left, .article_bottom_right {
    width: 46%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid;
    min-height: 100px;
}

.article_bottom_right {
    margin-left: 20px;
}

.content_right h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

.forma {
    border: 1px solid;
    padding: 20px;
}

.forma label {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}

.button {
    background-color: rgb(219, 69, 63);
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    letter-spacing: 4px;
}

/* BUTTOM CONTENT */
.bottom_content {
    width: 100%;
    min-height: 200px;
    background-color: aliceblue;
}

.bottom_text1,
.bottom_text2,
.bottom_text3 {
    background-color: #7268cd;
    text-align: justify;
    color: white;
    width: 32%;
    float: left;
    padding: 10px;
}

/*FOOTER*/
footer {
    background-color: #56688b;
    min-height: 100px;
}

.footer_links {
    width: 95%;
    float: left;
}

footer a {
    color: white;
    font-size: 14px;
}

footer li {
    float: left;
    display: inline;
    padding: 5px 20px 5px;
    margin: 10px 0;
    border-right: 1px solid white;
}

footer li:first-child {
    padding-left: 0;
}

.footer_text {
    width: 60%;
    float: left;
    color: antiquewhite;
}

.footer_title {
    width: 40%;
    float: left;
    color: antiquewhite;
}

.footer_title h3 {
    text-align: right;
    font-size: 30px;
    margin: 0;
}

/* MEDIA QUERIES FOR RESPONSIVE */

/*<400 - for mobiles
<1100 - for tablets, ipads
 <1400 for laptops
 >1800 - everything else no use of media queries*/

/* use range min-width to set lower bound if needed*/

@media (max-width: 400px) {
    /* for modern smartphone screens */
    .container {
        padding: 0 10px;
    }

    header nav,
    header nav li,
    .top_nav,
    .header_title,
    .main_nav,
    .content_left,
    .content_right,
    .article_bottom_left,
    .article_bottom_right,
    .bottom_text1,
    .bottom_text2,
    .bottom_text3,
    .footer_links,
    .footer_text,
    .footer_title,
    .footer_title h3 {
        float: none;
        text-align: center;
        width: 95%;
        padding: 0;
    }

    .header_title h1 {
        margin: 0;
        letter-spacing: 2px;
        font-size: 30px;
    }

    .main_nav li {
        padding-left: 0;
    }

    .article_bottom_right {
        margin-left: 0;
    }

}

@media (min-width: 401px) and (max-width: 800px) {
    .container {
        padding: 0 10px;
    }

    .header_title,
    .main_nav,
    .content_left,
    .content_right,
    .article_bottom_left,
    .article_bottom_right,
    .bottom_text1,
    .bottom_text2,
    .bottom_text3 {
        float: none;
        width: 95%;
        text-align: center;
    }

    .content_right {
        border: none;
    }

    .header_title h1 {
        margin: 0;
        letter-spacing: 3px;
        font-size: 40px;
        float: left;
    }

    .article_bottom_right {
        margin-left: 0;
    }

}

@media (min-width: 801px) and (max-width: 1400px) {

    .header_title,
    .main_nav,
    .article_top,
    .content_left,
    .content_right,
    .article_bottom {
        float: none;
        width: 95%;
        text-align: center;
    }

    .header_title h1 {
        margin: 0;
        letter-spacing: 4px;
        font-size: 45px;
        float: left;
    }

    .article_bottom_left,
    .article_bottom_right {
        width: 45%;
    }

    .content_right {
        border: none;
        float: right;
    }

}

@media (min-width: 1401px) and (max-width: 1800px) {

    .content_left {
        max-width: 850px;
        float: left;
    }

    .content_right {
        max-width: 500px;
    }

    .bottom_text1,
    .bottom_text2,
    .bottom_text3 {
        float: left;
        max-width: 400px;
    }

}






